#-*- mode: ruby -*-
apply File.join(File.dirname(__FILE__), 'jruby.template')

gsub_file "Gemfile", /^# end$/, <<GEM
# end
gem 'ixtlan-core', :path => '../..'
GEM

require File.join(File.dirname(__FILE__), 'helper.rb')

run_generate 'scaffold', 'user', 'name:string', '--skip', '--migration', '-t', 'test_unit'


run_rake 'db:migrate', 'test'

# vim: syntax=Ruby
