#-*- mode: ruby -*-

gem 'ruby-maven', '3.0.3.0.28.4.1'
gem 'ixtlan-generators', :path => '../../../ixtlan-generators'
gem 'ixtlan-core', :path => '../..'
gem 'slf4r' # needed since ruby-maven does not resolve deps from ixtlan-core due to the path argument

# vim: syntax=Ruby
