<h1>New <%= singular_table_name %></h1>

<%%= render 'form' %>

<% if defined? ::Ixtlan::Guard -%>
<%% if allowed?(:<%= table_name %>, :index) %>
<% end -%>
<%%= link_to 'Back', <%= index_helper %>_path %>
<% if defined? ::Ixtlan::Guard -%>
<%% end %>
<% end -%>
